[Desktop Entry]
Type =          Application
Name =          baresip
GenericName =   Telephony client
Comment =       Baresip is a portable and modular SIP User-Agent with audio and video support.
Categories =    Office;Telephony;

Terminal =      true
Exec =          baresip
StartupNotify = true
