name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        compiler: [gcc, clang]
        os: [ubuntu-18.04, ubuntu-20.04, macos-10.15, macos-11, macos-12]
        exclude:
           - os: macos-10.15
             compiler: gcc
           - os: macos-11
             compiler: gcc
           - os: macos-12
             compiler: gcc
    env:
      CC: ${{ matrix.compiler }}
      MACOSX_DEPLOYMENT_TARGET: "10.12"

    steps:
    - uses: actions/checkout@v2
    - name: install packages
      if: ${{ runner.os == 'Linux' }}
      run: |
        sudo apt-get update && sudo apt-get install -y libavcodec-dev \
                            libavdevice-dev \
                            libavformat-dev \
                            libgtk-3-dev \
                            libjack-jackd2-dev \
                            libmosquitto-dev \
                            libmpg123-dev \
                            libopus-dev \
                            libpulse-dev \
                            libsndfile1-dev \
                            libspandsp-dev \
                            libssl-dev \
                            libglib2.0-dev \
                            libopencore-amrnb-dev \
                            libopencore-amrwb-dev \
                            libgstreamer1.0-dev \
                            libvpx-dev \
                            libwebrtc-audio-processing-dev

    - name: install aac
      if: ${{ matrix.os == 'ubuntu-20.04' }}
      run: |
        sudo apt-get update && sudo apt-get install -y libfdk-aac-dev

    - name: Get brew path
      if: ${{ runner.os == 'macOS' }}
      id: brew-path
      run: |
        echo "::set-output name=brew::$(brew --cache)"
      shell: bash

    - name: Cache Homebrew Packages
      if: ${{ runner.os == 'macOS' }}
      id: cache-homebrew-packages
      uses: actions/cache@v3
      with:
        path: ${{ steps.brew-path.outputs.brew }}
        key: ${{ matrix.os }}-homebrew--${{ hashFiles('.github/workflows/build.yml') }}

    - name: install packages
      if: ${{ runner.os == 'macOS' }}
      run: |
        brew install codec2 \
                        fdk-aac \
                        ffmpeg \
                        jack \
                        mpg123 \
                        spandsp

    - uses: sreimers/pr-dependency-action@v0.3
      with:
        name: re
        repo: https://github.com/baresip/re
        secret: ${{ secrets.GITHUB_TOKEN }}

    - uses: sreimers/pr-dependency-action@v0.3
      with:
        name: rem
        repo: https://github.com/baresip/rem
        secret: ${{ secrets.GITHUB_TOKEN }}

    - name: make re/rem
      run: |
        for p in re rem; do cd $p && sudo -E make install && cd - && sudo rm -Rf $p; done

    - name: ldconfig
      if: ${{ runner.os == 'Linux' }}
      run: sudo ldconfig

    - name: make baresip linux
      if: ${{ runner.os == 'Linux' }}
      run: |
        make V=1 CCACHE= EXTRA_CFLAGS=-Werror info test modules
        make clean; make CCACHE= STATIC=yes

    - name: make baresip macOS
      if: ${{ runner.os == 'macOS' }}
      run: |
        make V=1 CCACHE= EXTRA_CFLAGS=-Werror bareinfo test modules
        make clean; make CCACHE= STATIC=yes
