name: Build

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        compiler: [gcc, clang]
        os: [ubuntu-20.04, ubuntu-22.04, macos-11, macos-12]
        exclude:
          - os: macos-11
            compiler: gcc
          - os: macos-12
            compiler: gcc
    env:
      CC: ${{ matrix.compiler }}
      MACOSX_DEPLOYMENT_TARGET: "10.12"

    steps:
    - uses: actions/checkout@v3

    - name: openssl path macos
      if: ${{ runner.os == 'macOS' }}
      run: |
        echo "OPENSSL_ROOT_DIR=/usr/local/opt/openssl" >> $GITHUB_ENV

    - name: Fix Ubuntu 22.04
      if: ${{ matrix.os == 'ubuntu-22.04' }}
      run: |
        sudo apt-get remove libunwind-14 -y
        sudo apt-get install libunwind-dev -y

    - name: install packages
      if: ${{ runner.os == 'Linux' }}
      run: |
        sudo apt-get update && sudo apt-get install -y libavcodec-dev \
                            libavdevice-dev \
                            libavformat-dev \
                            libjack-jackd2-dev \
                            libmosquitto-dev \
                            libmpg123-dev \
                            libopus-dev \
                            libpulse-dev \
                            libsndfile1-dev \
                            libspandsp-dev \
                            libssl-dev \
                            libopencore-amrnb-dev \
                            libopencore-amrwb-dev \
                            libgstreamer1.0-dev \
                            libvpx-dev \
                            libwebrtc-audio-processing-dev

    - name: install aac
      if: ${{ matrix.os == 'ubuntu-20.04' }}
      run: |
        sudo apt-get update && sudo apt-get install -y libfdk-aac-dev

    - name: install packages
      if: ${{ runner.os == 'macOS' }}
      run: |
        brew install codec2 \
                        fdk-aac \
                        ffmpeg \
                        jack \
                        mpg123 \
                        spandsp \
                        glib-utils

    - uses: sreimers/pr-dependency-action@v0.5
      with:
        name: re
        repo: https://github.com/baresip/re
        secret: ${{ secrets.GITHUB_TOKEN }}

    - uses: sreimers/pr-dependency-action@v0.5
      with:
        name: rem
        repo: https://github.com/baresip/rem
        secret: ${{ secrets.GITHUB_TOKEN }}

    - name: make re/rem
      run: |
        for p in re rem; do
          cmake -S $p -B $p/build
          cmake --build $p/build -j
        done
        for p in re rem; do
          mv $p ../.
        done

    - name: ldconfig
      if: ${{ runner.os == 'Linux' }}
      run: sudo ldconfig

    - name: make baresip linux
      if: ${{ runner.os == 'Linux' }}
      run: |
        cmake -B build -DCMAKE_C_FLAGS="-Werror" && cmake --build build -j

    - name: make baresip macOS
      if: ${{ runner.os == 'macOS' }}
      run: |
        cmake -B build -DCMAKE_C_FLAGS="-Werror" && cmake --build build -j
