name: Build

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
    - stable

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        compiler: [gcc, clang, gcc-14]
        os: [ubuntu-22.04, ubuntu-24.04, macos-latest]
        exclude:
          - os: macos-latest
            compiler: gcc
          - os: macos-latest
            compiler: gcc-14
          - os: ubuntu-22.04
            compiler: gcc-14
    env:
      CC: ${{ matrix.compiler }}
      MACOSX_DEPLOYMENT_TARGET: "10.12"

    steps:
    - uses: actions/checkout@v5

    - name: openssl path macos
      if: ${{ runner.os == 'macOS' }}
      run: |
        echo "OPENSSL_ROOT_DIR=$(brew --prefix openssl)" >> $GITHUB_ENV

    - name: fix flaky azure mirrors
      if: ${{ runner.os == 'Linux' }}
      run: |
        sudo sed -i 's/azure\./de\./' /etc/apt/sources.list

    - name: Fix Ubuntu 22.04
      if: ${{ matrix.os == 'ubuntu-22.04' }}
      run: |
        sudo apt-get update
        sudo apt-get remove libunwind-14 -y
        sudo apt-get install libunwind-dev libaom-dev libsdl2-dev -y

    - name: install packages
      if: ${{ runner.os == 'Linux' }}
      run: |
        sudo apt-get update && sudo apt-get install -y \
                            libasound2-dev \
                            libavcodec-dev \
                            libavdevice-dev \
                            libavformat-dev \
                            libcodec2-dev \
                            libfdk-aac-dev \
                            libglib2.0-dev \
                            libgstreamer1.0-dev \
                            libgtk-3-dev \
                            libjack-jackd2-dev \
                            libmosquitto-dev \
                            libopencore-amrnb-dev \
                            libopencore-amrwb-dev \
                            libopus-dev \
                            libpulse-dev \
                            libsndfile1-dev \
                            libspandsp-dev \
                            libssl-dev \
                            libvpx-dev \
                            libx11-dev \
                            libwebrtc-audio-processing-dev

    - name: install aac
      if: ${{ matrix.os == 'ubuntu-22.04' }}
      run: |
        sudo apt-get update && sudo apt-get install -y libfdk-aac-dev

    - name: install pipewire
      if: ${{ matrix.os == 'ubuntu-22.04' }}
      run: |
        sudo apt-get update && sudo apt-get install -y libpipewire-0.3-dev

    - name: install packages
      if: ${{ runner.os == 'macOS' }}
      run: |
        brew install codec2 \
                        aom \
                        fdk-aac \
                        ffmpeg \
                        jack \
                        spandsp \
                        sdl2 \
                        glib-utils \
                        pkg-config

    - uses: sreimers/pr-dependency-action@v1
      with:
        name: re
        repo: https://github.com/baresip/re
        secret: ${{ secrets.GITHUB_TOKEN }}

    - name: make re
      run: |
        cmake -S re -B re/build
        cmake --build re/build -j
        mv re ../.

    - name: ldconfig
      if: ${{ runner.os == 'Linux' }}
      run: sudo ldconfig

    - name: build baresip (g722)
      run: |
        cmake -B build-g722 -DCMAKE_C_FLAGS="-Werror"
        cmake --build build-g722 -j

    - name: install libg722
      run: |
        git clone https://github.com/sippy/libg722.git
        cmake -B libg722/build -S libg722 -DCMAKE_INSTALL_PREFIX="$HOME/libg722/install"
        cmake --build libg722/build -j
        ctest --test-dir libg722/build --output-on-failure
        cmake --install libg722/build

    - name: make baresip (libg722)
      run: |
        cmake -B build-libg722 -DCMAKE_C_FLAGS="-Werror" -DLIBG722_HINTS="$HOME/libg722/install"
        cmake --build build-libg722 -j

    - name: baresip static
      run: |
        rm -Rf build-static
        cmake -B build-static -DSTATIC=1 -DCMAKE_C_FLAGS="-Werror" -DMODULES="g711;ausine;fakevideo;auconv;auresamp;dtls_srtp;srtp;aufile;ice"
        cmake --build build-static -j

    - name: selftest
      run: ./build-static/test/selftest
