name: ccheck

on: [push, pull_request]

jobs:
  ccheck:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: ccheck
        run: make ccheck
      - name: CMakeLint
        run: |
          pip install cmakelint
          find . -name "CMakeLists.txt" -exec ~/.local/bin/cmakelint {} +
          find . -name "*.cmake" -exec ~/.local/bin/cmakelint {} +
