name: Extra checks

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  extra:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install packages
      run: |
        sudo apt-get update && sudo apt-get install -y libavcodec-dev \
                            libavdevice-dev \
                            libavformat-dev \
                            libgtk-3-dev \
                            libjack-jackd2-dev \
                            libmosquitto-dev \
                            libmpg123-dev \
                            libopus-dev \
                            libpulse-dev \
                            libsndfile1-dev \
                            libspandsp-dev \
                            libssl-dev \
                            libglib2.0-dev \
                            libfdk-aac-dev

    - uses: sreimers/pr-dependency-action@v0.5
      with:
        name: re
        repo: https://github.com/baresip/re
        secret: ${{ secrets.GITHUB_TOKEN }}

    - uses: sreimers/pr-dependency-action@v0.5
      with:
        name: rem
        repo: https://github.com/baresip/rem
        secret: ${{ secrets.GITHUB_TOKEN }}

    - name: make re/rem
      run: |
        for p in re rem; do cd $p && sudo PATH="$PATH" make install && cd - && sudo rm -Rf $p; done

    - name: ldconfig
      if: ${{ runner.os == 'Linux' }}
      run: sudo ldconfig

    - name: make clang baresip 
      run: |
        make V=1 CCACHE= EXTRA_CFLAGS=-Werror clang
        make clean

    - name: make RELEASE=1 baresip
      run: |
        make V=1 CCACHE= EXTRA_CFLAGS=-Werror RELEASE=1
        make clean
