name: Tools

on:
  push:
    branches: [ main ]
    paths:
      - 'tools'
  pull_request:
    branches: [ main ]
    paths:
      - 'tools'

jobs:
  tools:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: install pylint
      run: sudo apt-get update && sudo apt-get install -y pylint
    - name: pylint
      run: pylint tools/fritzbox2baresip
