name: valgrind leak check

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  valgrind:
    runs-on: ubuntu-latest 

    steps:
    - uses: actions/checkout@v2
    
    - name: install packages
      run: |
        sudo apt-get update && sudo apt-get install -y libssl-dev valgrind
   
    - uses: sreimers/pr-dependency-action@v0.5
      with:
        name: re
        repo: https://github.com/baresip/re
        secret: ${{ secrets.GITHUB_TOKEN }}

    - uses: sreimers/pr-dependency-action@v0.5
      with:
        name: rem
        repo: https://github.com/baresip/rem
        secret: ${{ secrets.GITHUB_TOKEN }}

    - name: make re/rem
      run: |
        for p in re rem; do cd $p && sudo PATH="$PATH" make install && cd - && sudo rm -Rf $p; done
        sudo ldconfig
    
    - name: make baresip selftest
      run: cmake -B build -DCMAKE_C_FLAGS="-Werror" && cmake --build build -j

    - name: valgrind test
      run: valgrind --leak-check=full --show-reachable=yes --error-exitcode=42 ./build/test/selftest
